# CONFIG FILE FOR UPLOADING DATASETS TO CORRESPONDING REGIONS

# References to Azure ML workspace (use cli args to override)
aml:
  subscription_id: "dba9fe9b-5958-4160-b06b-ff62bf8a4c6c"
  resource_group_name: "VCC_assignment_3"
  workspace_name: "aml-dlvcc"
  # subscription_id: "<SUBSCRIPTION_ID>"
  # resource_group_name: "<RESOURCE_GROUP>"
  # workspace_name: "<AML_WORKSPACE_NAME>"

# Parameters to generate the FL graph
federated_learning:
  host:
    compute: orchestrator-01
    datastore: datastore_orchestrator
  silos: # silos are provided as a list
    - compute: silo0-01 # name of the compute for silo X
      datastore: datastore_silo0 # name of the datastore for silo X

    - compute: silo1-01 # we are repeating over the same config for silo 2
      datastore: datastore_silo1

    - compute: silo2-01 # we are repeating over the same config for silo 3
      datastore: datastore_silo2

confidentiality:
  enable: false
  keyvault: https://ws-shkv-dlvcc.vault.azure.net/ # url of the keyvault
  # keyvault: https://kv-fldemo.vault.azure.net # url of the keyvault
  key_name: dev-rsa-key # name of the secret containing your encryption public key
